/vendor/
composer.lock

/bin/
/.web-server-pid
/app/Resources/geoip/GeoLite2-City.mmdb
/app/config/parameters.yml
/app/config/parameters.php
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
!var/class_stub.php
!/var/modules
/var/modules/*
!/var/modules/.gitkeep
/vendor/
/web/bundles/
